name: Deploy Production
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/ubuntu/aqwaya
            
            git fetch origin
            git reset --hard origin/main
            
            
            cd backend
            npm install --production
            pm2 restart backend
            
          
            cd ../frontend
            npm install 
            export NEXT_FONT_GOOGLE_MOCKED=true
            npm run build 
            pm2 restart frontend
            
            pm2 save