name: Deploy Stokive-FE-Staging on the Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Server
    runs-on: ubuntu-latest
    steps:
      - name: Update and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: 34.204.98.194
          username: ubuntu
          key: 
          script: | 
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
            cd /var/www/aqwayai/frontend/dev.aqwaya.com
            git checkout main
            git pull origin main
            npm install
            npm run build
            pm2 restart dev.aqwaya.com
            sudo systemctl reload nginx


  
