name: Deploy Aqwayai-FE-Staging

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}

      - name: Deploy
        run: |
          ssh -o StrictHostKeyChecking=no \
          ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} << 'EOF'
            export NVM_DIR="$HOME/.nvm"
            source "$NVM_DIR/nvm.sh"

            cd /var/www/aqwayai/frontend
            git checkout main
            git pull origin main

            npm install
            npm run build

            pm2 restart dev.aqwaya.com || pm2 start npm --name dev.aqwaya.com -- start
            pm2 save

            sudo systemctl reload nginx
          EOF
