name: Deploy Aqwayai-FE-Staging on the Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Update and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: echo "SSH connected"
            export NVM_DIR="/home/${USER}/.nvm"
            source $NVM_DIR/nvm.sh

            cd /var/www/aqwayai/frontend
            git pull origin main
            npm ci
            npm run build

            pm2 restart aqwayai-fe-staging
            sudo systemctl reload nginx
